{{content.field_banner}}

  
<section id="servicios">
<div class="container">
<div class="row">
<div class="col-md-12 col-lg-6 wow fadeInRight" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInRight;">
<h3>{{content.field_nombre_del_servicio}}</h3>
	<div style="margin-top:10px">
	{{ content.field_detalles_del_servicio }}
	</div>
</div>

<div class="col-md-12 col-lg-6 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
<div class="hovereffect" style="height: 280px">
  {{content.field_image}}
</div>
</div>
</div>
</div>
</section>
<section>
<div class="container" style="margin-bottom:80px">
  {{ content.body }}
</div>
</section>